                                ///////////////////////////
                               ///       BANNER       ///
                              ///        SCSS        ///
                             //////////////////////////
 
                        // style DE LA BANNER ET DU LOGO //

.banner {
    position: relative;
    animation: moveDown 2s 300ms both; // Animation du parallaxe de la bannière
    margin-bottom: 60px;

    &__container {
        &--video {
            position: absolute;
            object-fit: cover;
        }
    }

    &__logo {
        position: sticky;
        top: 80px;
        z-index: 10;
        animation: moveUp 2s 300ms both, floating-animation 6s 2s infinite ease-in-out; // Animation du parallaxe du logo
        
    }
}

                                            // RESPONSIVE //
                                            
@media screen and (max-width: 768px) {
    .banner {
        min-height: 540px;
        margin-bottom: 40px;
        &__container {
            &--video {
                display: none; /* Masquer la vidéo pour les écrans entre 320px et 768px */
            }
        }
    }
}