                                ///////////////////////////
                               ///       BANNER       ///
                              ///        SCSS        ///
                             //////////////////////////
 
                        // style DE LA BANNER ET DU LOGO //

.banner {
    position: relative;
    animation: moveDown 2s 300ms both; // Animation du parallaxe de la bannière
    margin-bottom: 60px;

    &__container {
        &--video {
            position: absolute;
            object-fit: cover;

            // Désactivation de la vidéo quand l'écran diminue sous 768px pour refaire apparaitre l'image de fond
            // Sur la version tablette et mobile  en fallback pendant le chargement de la vidéo
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &__logo {
        position: sticky;
        top: 80px;
        z-index: 10;
        animation: moveUp 2s 300ms both, floating-animation 6s 2s infinite ease-in-out; // Animation du parallaxe du logo
        
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .banner {
        min-height: 540px;
        margin-bottom: 40px;
    }
  }