@import "animations";
@import "banner";
@import "burger";
@import "nomination";
@import "swiper";
@import "lieu";


                                ///////////////////////////
                               ///   STYLE GENERAL     ///
                              ///        SCSS         ///
                             ///////////////////////////

:root {
    --rotate: 14s;
}

main {
    padding-top: 80px!important;
} 

// POINTS DE RUPTURE DES STYLES GENERAUX POUR TABLETTE ET MOBILE

@media screen and (max-width: 782px) {
    #wpadminbar {
        height: 46px;
        min-width: 240px;
        position: fixed;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
    font-size: 1.5rem;
    }

    .story__article {
        font-size: 13px;
    }

    
}




    
    


