@import "animations";
@import "banner";
@import "burger";
@import "nomination";
@import "swiper";
@import "lieu";


                                ///////////////////////////
                               ///   STYLE GENERAL     ///
                              ///        SCSS         ///
                             ///////////////////////////

:root {
    --rotate: 14s;
    --speed : 15s; 
}

$background-color: black;

main {
    padding-top: 80px!important;
}

.main-navigation {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .story {
        animation: fadeInBottom 1s ease-in-out;
   
  }
  
  // Titres H2 fonds violets
  
  .story {
    h2 {
      background-image: url('../../../foce/assets/images/purple_title_bg.png');
      animation: fadeBackgroundTitle 1s ease-in-out;
    }
  }

  //story article
  .story__article {
    p {
      position: relative; 
      animation: fadeInText 1.5s 0.5s forwards;
    }
   }
   

//Positionnement des images du menu FullScreen + rotation fleurs + flottement chats



