@charset "UTF-8";
@keyframes fadeInBottom { /* Animation vers le bas */
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#story,
#studio,
footer {
  opacity: 0;
  animation: fadeInBottom 1.5s 0.5s forwards;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0px);
  }
}
/* Sunflower */
.story h2::after,
.site-footer::before {
  width: 154px;
  height: 154px;
}

/* random_flower. */
#studio h2::before {
  width: 203px;
  height: 203px;
}

/* flower */
#studio h2::after {
  width: 109px;
  height: 109px;
}

/* orchid. */
.site-footer::after {
  width: 173px;
  height: 173px;
}

/* Hibiscus */
.story__article::after {
  width: 188px;
  height: 188px;
}

@keyframes rotate-flower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Ajout de l'animation rotation sur les fleurs avec la variable --rotate définie dans root */
.story h2::after,
.story__article::after,
#studio h2::after,
#studio h2::before,
.nomination::before,
.nomination::after,
.site-footer::before,
.site-footer::after,
.site-footer ul::after {
  animation: rotate-flower var(--rotate) linear infinite;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .story h2::after,
  .story__article::after,
  #studio h2::after,
  #studio h2::before,
  .nomination::before,
  .nomination::after,
  .site-footer::before,
  .site-footer::after {
    display: none;
  }
}
@keyframes title-animation {
  100% {
    transform: translateY(0%);
  }
}
@keyframes fadeBackgroundTitle {
  from {
    background-position: 0 300px;
    opacity: 0;
  }
  to {
    background-position: 0 0;
    opacity: 1;
  }
}
.story h2 {
  background-image: url("../../../foce/assets/images/purple_title_bg.png");
  animation: fadeBackgroundTitle 1s ease-in-out;
}

span.title {
  display: inline-block;
  opacity: 0;
  transform: translateY(100px);
  transition: transform 1s, opacity 0.5s;
}

.title-animation:nth-child(1) {
  animation: fadeInBottom 0.6s ease-in-out forwards;
}

.title-animation:nth-child(2) {
  animation: fadeInBottom 0.6s ease-in-out forwards;
  animation-delay: 0.3s;
}

@keyframes moveUp {
  0% {
    transform: translateY(600px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}
@keyframes floating-animation {
  10% {
    transform: translate3d(0, 5px, 0);
  }
  30% {
    transform: translate3d(0, -10px, 0);
  }
  43% {
    transform: translate3d(8px, 0, 0);
  }
  50% {
    transform: translate3d(-2px, -6px, O);
  }
  60% {
    transform: translate3d(4px, -2px, 0);
  }
  72% {
    transform: translate3d(-8px, 6px, 0);
  }
  85% {
    transform: translate3d(-2px, 3px, 0);
  }
}
@keyframes menuFadeIn {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1; /* Opacité à 1 lorsque le menu est complètement apparu */
    height: calc(100vh - 100px);
  }
}
@keyframes menuFadeDown {
  0% {
    opacity: 1;
    height: calc(100vh - 100px);
  }
  100% {
    opacity: 0; /* Opacité à 0 lorsque le menu est complètement fermé */
    height: 0;
  }
}
.banner {
  position: relative;
  animation: moveDown 2s 300ms both;
  margin-bottom: 60px;
}
.banner__container--video {
  position: absolute;
  object-fit: cover;
}
.banner__logo {
  position: sticky;
  top: 80px;
  z-index: 10;
  animation: moveUp 2s 300ms both, floating-animation 6s 2s infinite ease-in-out;
}

@media screen and (max-width: 768px) {
  .banner {
    min-height: 540px;
    margin-bottom: 40px;
  }
  .banner__container--video {
    display: none; /* Masquer la vidéo pour les écrans entre 320px et 768px */
  }
}
.site-header {
  position: fixed;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 9999;
  top: inherit;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .site-header {
    background-color: #FFD5A2;
    height: 80px;
  }
  .main-navigation a {
    display: none;
  }
}
body.active_nav {
  overflow-y: hidden; /* Empêche le défilement vertical du corps lorsque le menu est ouvert */
}

.site-title {
  margin-left: 100px;
  padding-left: 37px;
}

.activeMenu {
  background-color: #fff5e9;
  opacity: 0;
  height: 0;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out; /* Transition pour une animation fluide */
}
.activeMenu.active_nav {
  display: block;
  width: 100%;
  opacity: 1;
  height: calc(103vh - 100px);
  animation: menuFadeIn 1s ease-in-out;
}
@media screen and (max-width: 768px) {
  .activeMenu.active_nav {
    /* Styles spécifiques pour l'affichage mobile */
    height: 100vh; /* Ajustez la hauteur en conséquence pour l'affichage mobile */
  }
}
.activeMenu.inactive_nav {
  display: block;
  opacity: 0;
  height: 0;
  animation: menuFadeDown 1s ease-in-out;
}

.buttonMenu {
  width: 42px;
  height: 24px;
  cursor: pointer;
  position: relative;
  float: right;
  margin-top: 30px;
  margin-right: 2%;
}
.buttonMenu span {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
  transition: fadeInMenu 0.5s ease-in-out;
}
.buttonMenu span::before, .buttonMenu span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  font-weight: bold;
  background-color: black;
  transition: transform 0.5s ease-in-out;
}
.buttonMenu span::after {
  transform: translateY(10px);
}
.buttonMenu span::before {
  transform: translateY(-10px);
}
.buttonMenu.active span {
  background-color: transparent;
}
.buttonMenu.active span::before {
  transform: translateY(0px) rotateZ(45deg);
}
.buttonMenu.active span::after {
  transform: translateY(0px) rotateZ(-45deg);
}

@media screen and (max-width: 768px) {
  .buttonMenu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0;
    margin-right: 0;
    float: none;
  }
}
.menu-items {
  display: none;
  background-color: #fff5e9;
}
.menu-items__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  row-gap: 28px;
}

@media screen and (max-width: 600px) {
  .menu-items {
    padding-top: 80px;
  }
}
.listMenu {
  margin: 0;
}

.listMenu ul {
  text-align: center;
  height: 57%;
  margin: 0 !important;
  padding: 0 !important;
}
.listMenu li {
  text-align: center;
  list-style: none;
  margin: 0 !important;
}
.listMenu li a {
  text-decoration: none;
  font-size: 4rem;
  font-weight: 400;
  line-height: 112.4px;
  margin: 0;
}
.listMenu li a:hover {
  text-shadow: 0px 0px 14px rgba(255, 92, 0, 0.7);
}
.listMenu img {
  margin: auto;
  display: flex;
}
@media screen and (max-width: 768px) {
  .listMenu li a {
    font-size: 2rem;
    line-height: 112.4px;
  }
}

.paragrapheMenu {
  text-align: center;
  font-size: 16px;
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .paragrapheMenu .paragrapheMenu {
    font-size: 12px;
    margin-top: 60px;
  }
}

#blueCatMenu,
#blackCatMenu,
#orangeCatMenu {
  position: absolute;
  animation: floating-animation 6s 2s infinite ease-in-out;
}

#sunflowerMenu,
#orchidMenu,
#hibiscusMenu,
#randomMenu,
#flowerMenu {
  position: absolute;
  animation: rotate-flower var(--rotate) linear infinite;
}

.logoMenu {
  width: 200px;
}

#blueCatMenu {
  top: 275px;
  left: 240px;
  width: 109.2px;
  height: 99px;
}

@media screen and (max-width: 1110px) {
  #blueCatMenu {
    left: 170px;
  }
}
#blackCatMenu {
  top: 520px;
  right: 210px;
  width: 154.8px;
  height: 147.5px;
}

#orangeCatMenu {
  bottom: 150px;
  left: 80px;
  width: 106px;
  height: 95.7px;
}

#sunflowerMenu {
  top: 182px;
  right: 195px;
  width: 216px;
  height: 216px;
}

@media screen and (max-width: 1110px) {
  #sunflowerMenu {
    right: 100px;
  }
}
@media screen and (max-width: 930px) {
  #sunflowerMenu {
    right: 60px;
  }
}
#orchidMenu {
  top: 157px;
  left: -54px;
  width: 172.5px;
  height: 168.2px;
}

#hibiscusMenu {
  bottom: -202px;
  right: -240px;
  width: 30%;
}

#randomMenu {
  top: 440px;
  right: -37px;
  width: 5%;
}

#flowerMenu {
  bottom: 443px;
  left: 230px;
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 1110px) {
  #flowerMenu {
    left: 90px;
  }
}
@media screen and (max-width: 768px) {
  #blueCatMenu,
  #blackCatMenu,
  #orangeCatMenu,
  #sunflowerMenu,
  #orchidMenu,
  #hibiscusMenu,
  #randomMenu,
  #flowerMenu {
    display: none;
  }
}
/* Styles pour #studio h2 */
#studio h2 {
  overflow: visible;
}

/* Styles pour .studio__text */
.studio__text {
  animation: fadeInText 1.5s 0.5s forwards;
}

/* Styles pour .nomination */
.nomination {
  position: relative;
  padding: 150px 0 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 0;
  justify-content: center;
  align-items: center;
  /* Styles pour .nomination__title */
  /* Styles pour .nomination__title img */
  /* Styles pour .nomination__title h3 */
  /* Styles pour les images */
  /** Suppression des fleurs appartenant au footer pour les déplacer dans la nouvelle section nomination **/
}
.nomination__title {
  position: relative;
}
.nomination__title img {
  height: 100%;
}
.nomination__title h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 3.2rem;
  text-align: left;
}
.nomination img {
  height: 100%;
}
.nomination::before {
  content: url("../images/Sunflower.png");
  position: absolute;
  left: 4em;
  top: 0em;
}
.nomination::after {
  content: url("../images/orchid.png");
  position: absolute;
  right: -4em;
  top: -3em;
}

/* Styles pour .site-footer::before et .site-footer::after */
.site-footer::before,
.site-footer::after {
  content: "";
}

/* Styles pour .site-footer ul::after */
.site-footer ul::after {
  position: absolute;
  left: calc(50% - 323px);
  bottom: -31.5em;
  z-index: -1;
}

/* Média query pour les écrans de taille moyenne */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .nomination {
    padding: 10px 20px 10px 20px;
    gap: 20px 0;
  }
  #studio > div {
    text-align: center;
  }
  /* Styles pour .nomination__title h3 */
  .nomination__title h3 {
    text-align: center;
    line-height: 2.2rem;
  }
}
/* Média query pour les écrans étroits */
@media screen and (max-width: 455px) {
  /* Styles pour .nomination__title h3 */
  .nomination__title h3 {
    font-size: 16px;
    line-height: 1.5rem;
  }
}
.characters-swiper {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.characters-swiper h3 {
  align-self: flex-start;
  z-index: 2;
  background-image: url("../images/orange_characters_bg.png");
}
.characters-swiper div {
  flex: none !important;
}

.swiper {
  width: 95%;
  padding-top: 50px;
  padding-bottom: 200px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  text-align: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 919px) {
  .swiper {
    padding: 40px 0 40px 0;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .swiper {
    width: 80%;
  }
  .story #characters {
    margin: 0;
    height: 250px;
    width: 90%;
  }
  .characters-swiper h3 {
    align-self: center;
  }
}
/* Styles pour .story #place */
.story #place {
  background-image: url("../images/Studio_Koukaki-image_place.png");
  background-repeat: no-repeat;
  animation: fadeBackgroundTitle 2s;
  /* Styles pour les titres dans .story #place */
  /* Styles pour les paragraphes dans .story #place */
  /* Styles pour les images dans #place */
}
.story #place h3 {
  background-image: url("../images/orange_place_bg.png");
}
.story #place p {
  position: relative;
  animation: fadeInText 1.5s 0.5s forwards;
}
.story #place img {
  position: absolute;
  -moz-filter: blur(15px);
  filter: blur(15px);
  z-index: 2;
  transform: translateX(var(--cloudsPositionX));
  /* Styles pour les grands nuages dans #place */
  /* Styles pour les petits nuages dans #place */
}
.story #place img.big__cloud {
  top: 69%;
  left: calc(56% + 215px);
}
.story #place img.little__cloud {
  top: 79%;
  right: calc(14% + 320px);
}

/* Média query pour masquer les images sur les petits écrans */
@media screen and (max-width: 938px) {
  .story #place img {
    display: none;
  }
}
/* Média query pour ajuster la mise en page sur les écrans de taille moyenne */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .story #place {
    min-height: 450px;
    margin-top: 50px;
    /* Styles pour les paragraphes dans .story #place */
    /* Styles pour les titres dans .story #place */
  }
  .story #place > div p {
    text-align: center;
    padding-left: inherit;
  }
  .story #place h3 {
    align-self: center;
  }
}
:root {
  --rotate: 14s;
}

main {
  padding-top: 80px !important;
}

.story__article p {
  animation: fadeInText 1.5s 0.5s forwards;
}

@media screen and (max-width: 782px) {
  #wpadminbar {
    height: 46px;
    min-width: 240px;
    position: fixed;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .story__article {
    font-size: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
